<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>GoCWebTemplateSampleJSF2x</display-name>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <!--  ============================================================= -->
  <!--  The following declaration is to upgrade the EL (Expression Language) 
  		parsing engine in WebLogic 12c to version 2.2 as oppose to 2.1, 
  		this is to enable the GoC Template master pages to be able to also 
  		invoke bean methods with parameter.  The EL 2.2 implementation will come 
  		from the following 2 libraries in the WEB-INF/lib directory
  			- el-api-2.2.jar
  			- el-impl-2.2.jar
  		The is necessary for the master page to function correctly, so please 
  		do NOT remove or modify -->
  <context-param>
	<param-name>com.sun.faces.expressionFactory</param-name>
	<param-value>com.sun.el.ExpressionFactoryImpl</param-value>
  </context-param>
  <!--  ============================================================= -->
  
  <welcome-file-list>
    <welcome-file>/faces/index.xhtml</welcome-file>
  </welcome-file-list>
</web-app>