<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>GoCWebTemplateSampleJSP12c</display-name>
  <context-param>
  	<param-name>org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG</param-name>
  	<param-value>/WEB-INF/tiles.xml</param-value>
  </context-param>
  <listener>
  	<listener-class>org.apache.struts2.tiles.StrutsTilesListener</listener-class>
  </listener>
  <!--  ========================================================= -->
  <!--  The following filter is used by the GoC Template, please 
  		do NOT remove or modify -->
  <filter>
  	<filter-name>saverequestfilter</filter-name>
  	<filter-class>goc.webtemplate.component.jsp.SaveRequestFilter</filter-class>
  </filter>
  <!--  ========================================================= -->
  <filter>
  	<filter-name>struts2</filter-name>
  	<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <!--  ========================================================= -->
  <!--  The following filter mapping is used by the GoC Template, 
  		please do NOT remove or modify -->
  <filter-mapping>
  	<filter-name>saverequestfilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <!--  ========================================================= -->
  <filter-mapping>
  	<filter-name>struts2</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>    
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>