<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GoCWebTemplateSampleJSF20</display-name>
  <!--  ============================================================= -->
  <!--  The following 2 filter declarations are used by the GoC template 
        as the default solution in performing Language Toggle and Leaving 
        Secure Site features, please do NOT remove or modify -->
  <filter>
    <filter-name>SwitchLocaleFilter</filter-name>
    <filter-class>goc.webtemplate.component.jsf.SwitchLocaleFilter</filter-class>
  </filter>
  <filter>
    <filter-name>LeaveSecureSiteRedirectFilter</filter-name>
    <filter-class>goc.webtemplate.component.jsf.LeaveSecureSiteRedirectFilter</filter-class>
  </filter>
  <!--  ============================================================= -->
  
  <!--  ============================================================= -->
  <!--  The following filter is only used by the Leave Secure Site sample 
  		page, you can remove it at anytime if that sample page is not longer 
  		required -->
  <filter>
    <filter-name>CustomRedirectFilter</filter-name>
    <filter-class>goc.webtemplate.jsf.samplefilter.CustomRedirectFilter</filter-class>
  </filter>
  <!--  ============================================================= -->
  
  
  <!--  ============================================================= -->
  <!--  The following 2 filter mappings are used by the GoC template as the 
  		default solution in performing Language Toggle and Leaving Secure 
  		Site features, please do NOT remove or modify -->
  <filter-mapping>
    <filter-name>SwitchLocaleFilter</filter-name>
    <url-pattern>/faces/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LeaveSecureSiteRedirectFilter</filter-name>
    <url-pattern>/faces/*</url-pattern>
  </filter-mapping>
  <!--  ============================================================= -->
  
  <!--  ============================================================= -->
  <!--  The following filter mapping is only used by the leaving secure 
  		site sample page, you can remove it at anytime if that sample 
  		page is no longer required  -->
  <filter-mapping>
    <filter-name>CustomRedirectFilter</filter-name>
    <url-pattern>/faces/*</url-pattern>
  </filter-mapping>
  <!--  ============================================================= -->
  
  <welcome-file-list>
  	<welcome-file>/faces/index.xhtml</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
    <param-value>.xhtml</param-value>
  </context-param>
</web-app>