<!DOCTYPE html>
<!--[if lt IE 9]><html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" class="no-js lt-ie9" th:with="${goctemplateclientbean}?: goctemplateclientbean=${@defaulttemplatespringbean}" th:lang="${goctemplateclientbean.twoLetterCultureLanguage}" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" class="no-js" dir="ltr" th:with="${goctemplateclientbean}?: goctemplateclientbean=${@defaulttemplatespringbean}" th:lang="${goctemplateclientbean.twoLetterCultureLanguage}">
    <head>
    	<meta charset="utf-8" />
    	<div layout:fragment="title" th:remove="tag"><title th:text="${goctemplateclientbean.headerTitle}"></title></div>
	    <meta content="width=device-width,initial-scale=1" name="viewport" />
	    <!-- Load closure template scripts -->
        <link rel="stylesheet" th:href="${goctemplateclientbean.splashCssPath}">
	    <script type="text/javascript" th:src="${goctemplateclientbean.wetJsPath}"></script>
	    <noscript>
	    	<!-- Write closure fall-back static file -->
	    	[(${@applicationscopebean.getStaticFile(goctemplateclientbean.staticFallbackFilePath, goctemplateclientbean.theme, 'splashTop.html')})]
	    </noscript>   
        <script type="text/javascript">
		    document.write(wet.builder.splashTop([(${goctemplateclientbean.renderSplashTop})]));
		</script>
        [(${goctemplateclientbean.renderHtmlHeaderElements})]
        <!--  GoC Web Template Build Version [(${goctemplateclientbean.webTemplateDistributionVersion})] --> 
    </head>
    <body vocab="http://schema.org/" class="splash" typeof="WebPage">
		<div id="splashContent">
			<noscript>
	            <!--  Write closure fall-back static file -->
	            [(${@applicationscopebean.getStaticFile(goctemplateclientbean.staticFallbackFilePath, goctemplateclientbean.theme, 'splash.html')})]
	            <!-- Write closure template -->
            </noscript>
            <script type="text/javascript">
			    var contentSplash = document.getElementById("splashContent");
				contentSplash.innerHTML = wet.builder.splash([(${goctemplateclientbean.renderSplash})]);
			</script>
        </div>
	 </body>
</html>